body {
    background-color: rgb(78, 105, 255);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px
}

#top {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; 

}
#top > ul{
    list-style: none;
}
#top > ul > li{
    color: white;
    background-color: rgb(255, 255, 255);
    padding: 20px
}

