{%extends "base.html"%} 

{%block content%}
<div>
    <h2>
        Rules:
    </h2>
    <p>
        Rock beats Scissors<br>
        Scissors beats Paper<br>
        Paper beats Rock<br>
    </p>
</div>

<!-- <div>
    <form action="results.html" method="post">
        <h1>Player 1</h1>
        <label for="player_1_name" method="post">Name</label>
        <input type="text" name="player_1_name" id="player_1_name">
        <label for="player_1_choice" method="post">Choice</label>
        <input type="text" name="player_1_choice" id="player_1_choice">
        
        <h1>Player 2</h1>
        <label for="player_2_name" method="post">Name</label>
        <input type="text" name="player_2_name" id="player_2_name">
        <label for="player_2_choice" method="post">Choice</label>
        <input type="text" name="player_2_choice" id="player_2_choice">
        <input id="play" type="submit" value=Play>
    </form>
</div> -->

{%endblock%}