{%extends "base.html"%}

{%block content%}
<div id="play">
<form action="/play_results" method="post">
    <label for="player_name" method="post">Name</label>
    <input value="Player" type="text" name="player_name" id="player_name">

    <label for="player_choice" method="post">Choice</label>
    <select name="player_choice" id="player_choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
    </select>
    <!-- <input type="text" name="player_choice" id="player_choice"> -->
    
    <input id="play_button" type="submit" value=Play>
</form>
</div>
{%endblock%}